.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.hero {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 5em;
    color: rgb(255, 250, 250);
    margin-top: -0.5em;
}

#landing{
    background-image: url('../img/stars.jpg');
    background-size: cover;
    position: fixed;
}

.showcase{
    
}